body{
	background-color:white;
}

header{
	margin:0 auto;
	width:70%;
	color:#256D22;
	background-color: #FEFFC5;
	border-radius: 20px;
}

h1#lefthead{
	width:50%;
	float:left;
	text-align: right;
}

h1#righthead{
	width:50%;
	float:right;
	text-align: left;
}